*.iml
/local.properties
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
/.idea/
.gradle/
/priguardMapping.txt
.bitrise.secrets.yml
app/lint-baseline.xml
app/mapping.txt
app/seeds.txt
app/unused.txt
app/release/